@font-face {
  font-family: "PTSans","Arial";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans","Arial";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-color: #FFF;
  --basic-color-sky: #81B3D2;
  --basic-color-pale: #EEE;
  --basic-text-bl: #000;
  --basic-logo: #23A9E1;
  --basic-color-form: F2F2F2;
  --basic-text-pale: #333;
  --basic-br: #766357;
  --basic-copyright:231F20;
  --basic-list: #CACACA;
  --basic-dackground: #ABABAB;

  --special: #604E43;
  --special-color: #503E33;
  --special-color-sky: #669EC0;
  --special-color-blsky: #5496BD;
  --special-color-pale: #EBEBEB;
  --special-disabled: #6A6A6A;
}

/*Global*/

body {
  min-width: 1200px;
  margin-left: 0;
  padding: 0;
  font-family: "PTSans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-text-bl);
  text-transform: uppercase;
  background-color: var(--basic-color);
  background-position: top center;

  min-height: 100%;
  display: grid;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
  grid-template-columns: 73px 127px 200px 200px 200px 200px 127px 73px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Main header */

.main-header {
}


/* Main navigation */

x

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  background-color: transparent;
}

.main-header-logo {
  justify-self: center;
}

.site-navigation {
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation a{
  text-decoration: none;
  color: var(--basic-color-bl);
}

.site-navigation a:hover {
  color: var(--basic-color-sky);
}

.site-navigation a:focus {
  color: var(--basic-br);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-color-bl);
}




/* Features */
.container {
  width: 1200px;
  margin: 0 auto;

}

.header-main {
  justify-self: center;
  margin: 40px 0;
  text-align: center;
}


.box {
  display: grid;
  grid-template-columns: 73px 127px 200px 200px 200px 200px 127px 73px;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  width: 1200px;
  height: 256px;
  }

.box-fon1 {
  background-image: url("../img/Rectangle.svg");
  width: 400px;
  height: 256px;
  color: var(--basic-color);
  text-align: center;
}

.pic {
  background-color: var(--basic-color-pale);
  background-image: url("../img/image(2).png");
  width: 800px;
  height: 256px;
  grid-column: 4 / 9;
}

.box-fon2 {
  background-image: url("../img/Rectangle.svg");
  width: 400px;
  height: 256px;
  color: var(--basic-color);
  text-align: center;
  grid-column: 6 / 9;
}

.picture {
  background-color: var(--basic-color-pale);
  background-image: url("../img/image.png");
  width: 800px;
  height: 256px;
}





.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  list-style: none;
  background-color: var(--basic-color-pale);
  width: 1200px;
  height: 256px;
  text-transform: uppercase;
  text-align: center;
}

.features-item{
  margin: 0 30px;
}
/*Recommendation*/

.recommendation{
  margin-bottom: 80px;
  
}

.recommendation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  text-transform: uppercase;

}

.recommendation-item {
  text-align: center;
}

.recommendation-item p{
  margin: 0 20px;
}

.icon1 {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;


}

.icon2 {
  background-image: url("../img/icon-2.svg");
  width: 75px;
  height: 70px;
}

.icon3 {
  background-image: url("../img/icon-3.svg");
  width: 64px;
  height: 77px;
}
/*Headlines*/

.caption {
  font-size: 21px;
  line-height: 26px;
}

.tit {
  font-size: 14px;
  line-height: 26px;
}

.features-tit {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}


.search {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-pale);
}
/*Form*/

.appointment-form {
  font-size: 21px;
  line-height: 26px;
  background-color: transparent;
  text-align: center;
  width: 568px;
  height: 395px;
}

.sector {
  background-color: var(--basic-br);
  text-align: center;
  color: var(--basic-color);
  width: 568px;
  height: 86px;
}

.sector:hover {
  background-color: var(--special);
}

.sector:focus {
  background-color: var(--special-color);
}


.appointment-item {
  font-size: 14px;
  line-height: 26px;
}

input[type="text"] {
  background-color: var(--basic-color-form);
  border: none;
}

input[type="text"]:hover {
  background-color: var(--special-color-pale);
}

input[type="text"]:focus {
  background-color: var(--basic-color);
}


.button {
  background-color: var(--basic-color-sky);
  color: var(--basic-color);
  text-transform: uppercase;
  width: 458px;
  height: 58px;
  text-align: center;
}

.button:hover {
  background-color: var(--special-color-sky);
}

.button:focus {
  background-color: var(--special-color-blsky);
}

.map {
  background-color:  var(--basic-color-pale);
  background-image: url("../img/map.jpg");
  width: 1199px;
  height: 594px;

}


/*Catalog*/

.page-catalog {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-catalog .filters{
  grid-column: 1 / -1;
}


/*Fieldset*/
.filter {
  color: var(--basic-color);
  background-color: var(--basic-color-pale);
  background-image: url("../img/background.jpg");
  position: absolute;
  width: 1200px;
  height: 217px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}


.legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;

}


.filter-option {
  list-style: none;
}

.filter-checkbox {
  color: var(--basic-color);
}

.filter-checkbox:hover {
  color: var(--basic-color);
}

.filter-checkbox:disabled {
  color: var(--special-disabled);
}

.filter-checkbox-tip {
  color: var(--basic-color);
}

.filter-checkbox-tip:hover {
  color: var(--basic-color);
}

.filter-checkbox-tip:disabled {
  color: var(--special-disabled);
}

/*Article*/

.found {
  color: var(--basic-text-bl)
}

.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.breadcrumbs a {
  color: var(--basic-black);
  border: 1px;
  opacity: 0.3;
}

.breadcrumbs a:hover{
  color: var(--basic-color-sky);
  border: 1px;
}

.breadcrumbs a:focus {
  text-decoration: underline;
  color: var(--basic-black);
}

.breadcrumbs a:active {
  text-decoration: underline;
  color: var(--basic-color-sky);
}

.breadcrumbs img {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs img:hover{
  color: var(--basic-color-sky);
}

.breadcrumbs img:focus {
  color: var(--basic-black);
}

.breadcrumbs img:active {
  color: var(--basic-color-sky);
}

.lodging {

  list-style: none;
  font-size: 14px;
  line-height: 21px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.caption {
  font-size: 21px;
  line-height: 26px;
}

.button {
  width: 110px;
  height: 27px;
  color: var(--basic-color);
  background-color: var(--basic-color-sky);
}

.button:hover{
  background-color: var(--special-color-sky);
}

.button:focus {
  background-color: var(--special-color-blsky);
  opacity: 0.3;
}

.button-reservation {
  width: 142px;
  height: 27px;
  color: var(--basic-color);
  background-color: var(--basic-br);
}

.button-reservation:hover{
  background-color: var(--special);
}

.button-reservation:focus {
  background-color: var(--special-color);
  opacity: 0.3;
}


/*Footer*/

.main-footter {
  color: var(--basic-text-bl);
  background-color: var(--basic-color);
  opacity: 0.9;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}

.main-footter .footter-container{
  display: grid;
  grid-template-columns: 73px 127px 200px 200px 200px 200px 127px 73px;
}

.footer-contacts {
  grid-column: 2 / 4;
  color: var(--basic-text-bl);
  text-decoration: none;
  text-align: center;

}

.footer-contacts :hover,
.footer-contacts :focus {
  text-decoration: underline;
}

.footer-social {
  text-align: center;
   grid-column: 4 / 6;
   
}

.footer-social ul {
  list-style: none;
}

.fb {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.tw {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.yt {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.social-button a:hover {
  background-color: var(--special-color-sky);
}

.social-button a:focus {
  background-color: var(--special-color-blsky);
}

.footer-copyright {
  grid-column: 6 / 8;
  text-align: center;

}
