@font-face {
  font-family: "PTSans","Arial";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans","Arial";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-color: #FFF;
  --basic-color-sky: #81B3D2;
  --basic-color-pale: #EEE;
  --basic-text-bl: #000;
  --basic-logo: #23A9E1;
  --basic-color-form: F2F2F2;
  --basic-text-pale: #333;
  --basic-br: #766357;
  --basic-copyright:231F20;
  --basic-list: #CACACA;
  --basic-dackground: #ABABAB;

  --special: #604E43;
  --special-color: #503E33;
  --special-color-sky: #669EC0;
  --special-color-blsky: #5496BD;
  --special-color-pale: #EBEBEB;
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PTSans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-text-bl);
  text-transform: uppercase;
  background-color: var(--basic-color);
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  background-color: transparent;
}

.main-header-logo {
  float: center;
}

.site-navigation {
  list-style: none;
  text-align: center;
  display: inline-block;
}

.site-navigation a{
  text-decoration: none;
  color: var(--basic-color-bl);
}

.site-navigation a:hover {
  color: var(--basic-color-sky);
}

.site-navigation a:focus {
  color: var(--basic-br);
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-color-bl);
}


}

/* Features */

.box {
  background-image: url("../img/Rectangle.svg");
  width: 400px;
  height: 256px;
  color: var(--basic-color);
  text-align: center;
}

.pic {
  background-color: var(--basic-color-pale);
  background-image: url("../img/image(2).png");
  position: absolute;
  width: 800px;
  height: 256px;
}

.picture {
  background-color: var(--basic-color-pale);
  background-image: url("../img/image.png");
  position: absolute;
  width: 800px;
  height: 256px;
}


.features-list {
  list-style: none;
  background-color: var(--basic-color-pale);
  width: 1200px;
  height: 256px;
}
/*Recommendation*/

.recommendation-list {
  list-style: none;
}

.recommendation-item {
  text-align: center;
}

.icon1 {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
}

.icon2 {
  background-image: url("../img/icon-2.svg");
  width: 75px;
  height: 70px;
}

.icon3 {
  background-image: url("../img/icon-3.svg");
  width: 64px;
  height: 77px;
}
/*Headlines*/

.caption {
  font-size: 21px;
  line-height: 26px;
}

.tit {
  font-size: 14px;
  line-height: 26px;
}

.features-tit {
  font-size: 21px;
  line-height: 21px;
}

.search {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-pale);
}
/*Form*/

.appointment-form {
 font-size: 21px;
 line-height: 26px;
 background-color: transparent;
 text-align: center;
 width: 568px;
 height: 395px;
}

.sector {
  background-color: var(--basic-br);
  text-align: center;
  color: var(--basic-color);
  width: 568px;
  height: 86px;
}

.sector:hover {
  background-color: var(--special);
}

.sector:focus {
  background-color: var(--special-color);
}


.appointment-item {
  font-size: 14px;
  line-height: 26px;
}

input[type="text"] {
  background-color: var(--basic-color-form);
  border: none;
}

input[type="text"]:hover {
  background-color: var(--special-color-pale);
}

input[type="text"]:focus {
  background-color: var(--basic-color);
}


.button {
  background-color: var(--basic-color-sky);
  color: var(--basic-color);
  text-transform: uppercase;
  width: 458px;
  height: 58px;
  text-align: center;
}

.button:hover {
  background-color: var(--special-color-sky);
}

.button:focus {
  background-color: var(--special-color-blsky);
}


/*Footer*/

.main-footer {
  color: var(--basic-text-bl);

}

.footer-contacts a {
  color: var(--basic-text-bl);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.fb {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.tw {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.yt {
  background-color: var(--basic-color-sky);
  width: 46px;
  height: 48px;
}

.social-button a:hover {
  background-color: var(--special-color-sky);
}

.social-button a:focus {
  background-color: var(--special-color-blsky);
}



